# Pastas temporárias e de cache do Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Arquivos de projeto gerados automaticamente
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Arquivos meta gerados pelo Unity
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Relatórios de erro do Unity
sysinfo.txt